@mixin displayType {
  font-family: 'ABN Condensed';
  font-size: 12.8rem;
  line-height: 96%;
  text-transform: uppercase;
}

@mixin largeBodyType {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-size: 48rem;
  line-height: 99%;
  font-weight: 500;
}

@mixin bodyType {
  font-family: 'PP Neue Montreal';
  font-size: 2.4rem;
  line-height: 99%;
  font-weight: 500;
  text-transform: uppercase;
}